mixin investment(investObj)
	.col-md-4.mt-3
		.card
			a(href='#')
				img.card-img(src= investObj.img)
			.card-body
				a.text-decoration-none.text-dark(href="#")
					h5.card-title= investObj.title
				.investment-info
					h6.investment-info__industry
						span Industry:
						span= investObj.industry
					h6
						span Raised:
						span= investObj.raised
					h6
						span Preferred Return:
						span= investObj.return
					h6
						span Equity Multiple:
						span= investObj.multiple
					h6
						span Minimum Investment:
						span= investObj.minInvest
				.text-center.mt-4
					a.link-danger(href='#') View Opportunity
